{% extends 'layout/layout.html' %}
{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Customers</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold"><a  href="{% url 'new_customer' %}" class="btn btn-primary btn-sm">New Customer</a></p>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6 text-nowrap">
                </div>
                
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label">
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input id="search"  class="bg-light form-control border-1 small" type="text" placeholder="Search Customer ...">
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Date Added</th>
                            <th>Date Updated</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in customers %}
                        <tr>
                            <td>{{x.id}}</td>
                            <td>{{x.firstname}}</td>
                            <td>{{x.middlename}}</td>
                            <td>{{x.lastname}}</td>
                            <td>{{x.customer_address}}</td>
                            <td>{{x.date_added}}</td>
                            <td>{{x.date_updated}}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="update/{{ x.id }}"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger" onclick="if(confirm('Delete this row?')){window.location.href = 'delete/{{ x.id }}'}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-6 align-self-center">
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item {% if not customers.has_previous %} disabled {% endif %}">
                                <a class="page-link" aria-label="Previous" href="{% if customers.has_previous %} ?page={{ customers.previous_page_number }} {% endif %}"><span aria-hidden="true">«</span></a>
                            </li>

                            {# Loop pages number #}
                            {% for i in num_of_pages %}

                                <li class="page-item {% if customers.number == forloop.counter %} active {% endif %}"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

                            {%endfor%}

                            <li class="page-item {% if not customers.has_next %} disabled {% endif %}">
                                <a class="page-link" aria-label="Next" href="{% if customers.has_next %} ?page={{ customers.next_page_number }} {% endif %}"><span aria-hidden="true">»</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script> 

    $( function() {
    
    
        $("#search").autocomplete({
            minLength: 1,
            appendTo: $(this).parent(),
            source: "{% url 'search_customer' %}",
            
            select: function (event, ui) {
                event.preventDefault();
                console.log('data: ' + ui.item.value.id)
                console.log('url when clicked: ' + ui.item.value.url )
                window.location.href = ui.item.value.url
            },
    
            focus: function (event, ui) {
                event.preventDefault();
                $("#product_search").val(ui.item.label)
                $("#product_search").val(ui.item.label)
            },
    
            
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a class='list-group-item' href='" + item.value.url + "'>" + item.label + "</a>")
                .appendTo(ul);
        };
    
    });
        
    
</script>
    
{% endblock %}
