{% extends 'layout/layout.html' %}
{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Suppliers</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold"><a  href="{% url 'new_supplier' %}" class="btn btn-primary btn-sm">New Supplier</a></p>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <!-- <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Show
                            <select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
                
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Supplier Name</th>
                            <th>Address</th>
                            <th>Date Added</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in suppliers %}
                        <tr>
                            <td>{{x.id}}</td>
                            <td>{{x.supplier}}</td>
                            <td>{{x.address}}</td>
                            <td>{{x.date_added}}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="update/{{ x.id }}"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger" onclick="if(confirm('Delete this row?')){window.location.href = 'update/{{ x.id }}'}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Supplier Name</strong></td>
                            <td><strong>Address</strong></td>
                            <td><strong>Date Added</strong></td>

                        </tr>
                    </tfoot> -->
                </table>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-6 align-self-center">
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item {% if not suppliers.has_previous %} disabled {% endif %}">
                                <a class="page-link" aria-label="Previous" href="{% if suppliers.has_previous %} ?page={{ suppliers.previous_page_number }} {% endif %}"><span aria-hidden="true">«</span></a>
                            </li>

                            {# Loop pages number #}
                            {% for i in num_of_pages %}

                                <li class="page-item {% if suppliers.number == forloop.counter %} active {% endif %}"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

                            {%endfor%}

                            <li class="page-item {% if not suppliers.has_next %} disabled {% endif %}">
                                <a class="page-link" aria-label="Next" href="{% if suppliers.has_next %} ?page={{ suppliers.next_page_number }} {% endif %}"><span aria-hidden="true">»</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}